<%- include('partials/header') %>
<section class="py-20 bg-gradient-to-b from-gray-900 to-dark px-4">
  <div class="container mx-auto max-w-screen-lg">
    <h2 class="text-4xl font-bold text-center mb-12" data-aos="fade-up">Próximos Eventos</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
      <% events.forEach(event => { %>
        <div class="bg-dark rounded-lg shadow-lg overflow-hidden transform hover:-translate-y-2 hover:shadow-2xl transition duration-300" data-aos="fade-up">
          <img src="<%= event.image %>" alt="<%= event.title %>" class="w-full h-64 object-cover">
          <div class="p-6">
            <h3 class="text-2xl font-semibold mb-4"><%= event.title %></h3>
            <p class="flex items-center mb-2"><i class="far fa-calendar-alt mr-2 text-primary"></i><%= event.date %></p>
            <p class="flex items-center mb-4"><i class="fas fa-map-marker-alt mr-2 text-primary"></i><%= event.location %></p>
            <p class="text-gray-300 mb-4"><%= event.description %></p>
            <div class="flex items-center space-x-4">
              <div class="flex space-x-2">
                <a href="https://www.instagram.com/bailedaakyam" class="text-primary hover:text-secondary mr-2">
                  <i class="fab fa-instagram fa-3x"></i>
                </a>
                <a href="https://wa.me/+5519999880296" class="text-primary hover:text-secondary">
                  <i class="fab fa-whatsapp fa-3x text-green-500"></i>
                </a>
                
              </div>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>
<%- include('partials/footer') %>